Repository aerubanov/HMC_visualization: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,css,md,json}": "prettier --write",
  "*.{js,jsx}": "eslint --fix"
}

add mathEngine.js implementation
  src/utils/mathEngine.js
  tests/mathEngine.test.js
Due: prettier --write, eslint --fix

fix pre-commit
  .husky/pre-commit
Due: none

remove allowedSymbols list
  debug_mathjs.js
  src/utils/mathEngine.js
  tests/mathEngine.test.js
Due: prettier --write, eslint --fix

remove script
  debug_mathjs.js
Due: prettier --write, eslint --fix

add useHMCController()
  Implementation Plan.md
  package-lock.json
  package.json
  src/hooks/useHMCController.js
  tests/hooks/useHMCController.test.js
Due: prettier --write, eslint --fix

change sampleSteps() implementation
  src/hooks/useHMCController.js
Due: prettier --write, eslint --fix

fix linter error
  src/hooks/useHMCController.js
Due: prettier --write, eslint --fix

fix 'should sample N steps' test case
  tests/hooks/useHMCController.test.js
Due: prettier --write, eslint --fix

Add HMC sampler tests and implementation
  Implementation Plan.md
  src/utils/hmcSampler.js
  tests/mathEngine.test.js
  tests/utils/hmcSampler.test.js
  tests/utils/mathEngine.test.js
Due: prettier --write, eslint --fix

add UI layout
  src/App.css
  src/App.jsx
  src/components/Controls.css
  src/components/Controls.jsx
  src/components/Visualizer.css
  src/components/Visualizer.jsx
  src/index.css
Due: prettier --write, eslint --fix

add contour plot for logp function
  src/App.jsx
  src/components/Visualizer.jsx
  src/hooks/useHMCController.js
  src/utils/mathEngine.js
  src/utils/plotConfig.js
  tests/hooks/useHMCController.test.js
  tests/utils/mathEngine.test.js
Due: prettier --write, eslint --fix

add trajectory plot
  src/App.jsx
  src/components/Controls.jsx
  src/components/Visualizer.jsx
  src/hooks/useHMCController.js
  src/utils/hmcSampler.js
  src/utils/plotConfig.js
  tests/hooks/useHMCController.test.js
  tests/utils/plotConfig.test.js
Due: prettier --write, eslint --fix

add samples visualization
  src/App.jsx
  src/components/Visualizer.jsx
  src/utils/hmcSampler.js
  src/utils/plotConfig.js
  tests/utils/hmcSampler.test.js
  tests/utils/plotConfig.test.js
Due: prettier --write, eslint --fix

add apply button for probability function
  package-lock.json
  package.json
  src/components/Controls.css
  src/components/Controls.jsx
  tests/components/Controls.test.jsx
  tests/setup.js
  vite.config.js
Due: prettier --write, eslint --fix

add vercel deployment workflow
  .github/workflows/deploy.yml
  vercel.json
Due: prettier --write

run deploy after release
  .github/workflows/deploy.yml
Due: none

adjust color scheme and input vidjet
  src/components/Controls.jsx
  src/index.css
  src/utils/plotConfig.js
Due: prettier --write, eslint --fix

add accepted/rejected counter
  src/App.jsx
  src/components/Controls.jsx
  src/hooks/useHMCController.js
  tests/hooks/useHMCController.test.js
Due: prettier --write, eslint --fix

add links
  src/App.css
  src/App.jsx
  src/components/Controls.css
  src/components/Controls.jsx
Due: prettier --write, eslint --fix

refactor sampling function
  src/hooks/useHMCController.js
  src/utils/hmcSampler.js
  tests/hooks/useHMCController.test.js
  tests/utils/hmcSampler.test.js
Due: prettier --write, eslint --fix

add function docs
  src/hooks/useHMCController.js
  src/utils/mathEngine.js
Due: prettier --write, eslint --fix

update readme
  README.md
Due: prettier --write

remove implementation plan
  Implementation Plan.md
Due: prettier --write

add space for buttons on top
  AGENTS.md
  src/components/Visualizer.css
Due: prettier --write

add random seed function
  src/App.jsx
  src/components/Controls.css
  src/components/Controls.jsx
  src/hooks/useHMCController.js
  src/utils/hmcSampler.js
  src/utils/seededRandom.js
  tests/hooks/useHMCController.test.js
  tests/utils/hmcSampler.test.js
  tests/utils/seededRandom.test.js
Due: prettier --write, eslint --fix

add separate config for visualization styles
  src/components/Visualizer.jsx
  src/hooks/useHMCController.js
  src/utils/plotConfig.json
  src/utils/plotFunctions.js
  tests/utils/plotFunctions.test.js
Due: prettier --write, eslint --fix

add src/samplers
  src/hooks/useHMCController.js
  src/samplers/HMCSampler.js
  tests/hooks/useHMCController.test.js
  tests/samplers/HMCSampler.test.js
  tests/utils/hmcSampler.test.js
Due: prettier --write, eslint --fix

rename controller hook
  README.md
  src/App.jsx
  src/hooks/useSamplingController.js
  tests/hooks/useSamplingController.test.js
Due: prettier --write, eslint --fix

do not expose setUseSeededMode controller variable
  src/App.jsx
  src/components/Controls.jsx
  src/hooks/useSamplingController.js
  tests/hooks/useSamplingController.test.js
Due: prettier --write, eslint --fix

edit comments
  src/hooks/useSamplingController.js
  src/samplers/HMCSampler.js
  tests/hooks/useSamplingController.test.js
Due: prettier --write, eslint --fix

add missing tests
  tests/samplers/HMCSampler.test.js
Due: prettier --write, eslint --fix

remove debug output
  src/components/Visualizer.jsx
  src/hooks/useSamplingController.js
Due: prettier --write, eslint --fix

fix warnings in tests
  tests/components/Controls.test.jsx
Due: prettier --write, eslint --fix

add tests coverage calculation
  .github/workflows/ci.yml
  coverage/base.css
  coverage/block-navigation.js
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/favicon.png
  coverage/index.html
  coverage/prettify.css
  coverage/prettify.js
  coverage/sort-arrow-sprite.png
  coverage/sorter.js
  coverage/src/App.jsx.html
  coverage/src/components/Controls.jsx.html
  coverage/src/components/Visualizer.jsx.html
  coverage/src/components/index.html
  coverage/src/hooks/index.html
  coverage/src/hooks/useSamplingController.js.html
  coverage/src/index.html
  coverage/src/main.jsx.html
  coverage/src/samplers/HMCSampler.js.html
  coverage/src/samplers/index.html
  coverage/src/utils/index.html
  coverage/src/utils/mathEngine.js.html
  coverage/src/utils/plotFunctions.js.html
  coverage/src/utils/seededRandom.js.html
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

add coverage change notification
  .github/workflows/ci.yml
  .gitignore
  coverage/base.css
  coverage/block-navigation.js
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/favicon.png
  coverage/index.html
  coverage/prettify.css
  coverage/prettify.js
  coverage/sort-arrow-sprite.png
  coverage/sorter.js
  coverage/src/App.jsx.html
  coverage/src/components/Controls.jsx.html
  coverage/src/components/Visualizer.jsx.html
  coverage/src/components/index.html
  coverage/src/hooks/index.html
  coverage/src/hooks/useSamplingController.js.html
  coverage/src/index.html
  coverage/src/main.jsx.html
  coverage/src/samplers/HMCSampler.js.html
  coverage/src/samplers/index.html
  coverage/src/utils/index.html
  coverage/src/utils/mathEngine.js.html
  coverage/src/utils/plotFunctions.js.html
  coverage/src/utils/seededRandom.js.html
  vite.config.js
Due: prettier --write, eslint --fix

adjust coverage calculation in PRs
  .github/workflows/ci.yml
Due: none

fix coverage calculation condition
  .github/workflows/ci.yml
Due: none

upload coverage artifact from the Node 20 job only
  .github/workflows/ci.yml
Due: none

add new test cases for mathEngine.tests.js
  tests/utils/mathEngine.test.js
Due: prettier --write, eslint --fix

Add new test cases for useSamplingController module
  tests/hooks/useSamplingController.test.js
Due: prettier --write, eslint --fix
