Repository aerubanov/HMC_visualization: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

update tests
  tests/components/Controls.test.jsx
  tests/hooks/useSamplingController.test.js
Due: prettier --write, eslint --fix

feat: implement object-oriented multiple sampler comparison architecture
  src/App.jsx
  src/components/Controls.jsx
  src/components/TracePlots.jsx
  src/components/Visualizer.jsx
  src/hooks/useSamplingController.js
  src/samplers/SamplingChain.js
  tests/components/TracePlots.test.jsx
  tests/components/Visualizer.test.jsx
  tests/hooks/useSamplingController.test.js
Due: prettier --write, eslint --fix

fix some tests
  src/components/Controls.jsx
  src/hooks/useSamplingController.js
  src/samplers/SamplingChain.js
  tests/hooks/useSamplingController.test.js
  tests/hooks/useSamplingController_selection.test.js
Due: prettier --write, eslint --fix

fix failed tests
  src/components/Controls.jsx
  src/samplers/SamplingChain.js
  tests/components/Controls.test.jsx
  tests/hooks/useSamplingController.test.js
Due: prettier --write, eslint --fix

add changes after review
  .claude/agent-memory/plan-implementer/MEMORY.md
  .claude/agent-memory/plan-implementer/project_samplers_comparison.md
  .claude/agents/plan-implementer.md
  .claude/skills/plan-with-files/SKILL.md
  CLAUDE.md
  plans/ImplementationPlan.md
  plans/sampler-comparison-fixes-plan.md
  plans/sampler-comparison-plan.md
  src/components/Controls.jsx
  src/components/TracePlots.jsx
  src/components/Visualizer.jsx
  src/hooks/useSamplingController.js
  src/samplers/SamplingChain.js
  src/samplers/defaultConfigs.js
  tests/components/TracePlots.test.jsx
  tests/hooks/useSamplingController.test.js
  tests/samplers/SamplingChain.test.js
Due: prettier --write, eslint --fix

add ui adjustments plan
  plans/chain-ui-improvements-plan.md
Due: prettier --write

add new UI tests
  plans/ImplementationPlan.md
  src/components/Controls.jsx
  src/components/TracePlots.jsx
  src/components/Visualizer.jsx
  tests/components/Controls.test.jsx
  tests/components/TracePlots.test.jsx
  tests/components/Visualizer.test.jsx
Due: prettier --write, eslint --fix

fix add chain button
  plans/chain-ui-improvements-plan.md
  src/hooks/useSamplingController.js
  tests/hooks/useSamplingController.test.js
Due: prettier --write, eslint --fix

add changes after review
  .claude/skills/plan-with-files/SKILL.md
  .gitignore
  plans/ImplementationPlan.md
  plans/code-quality-fixes-plan.md
  src/components/Controls.jsx
  src/hooks/useSamplingController.js
  tests/hooks/useSamplingController.test.js
Due: prettier --write, eslint --fix

remove .claude/ from version control
  .claude/agent-memory/plan-implementer/MEMORY.md
  .claude/agent-memory/plan-implementer/project_samplers_comparison.md
  .claude/agents/plan-implementer.md
  .claude/skills/plan-with-files/SKILL.md
Due: prettier --write

add architecture diagram
  README.md
  architecture.excalidraw
  architecture.png
Due: prettier --write

fix UI buttons
  plans/controls-ui-fixes-plan.md
  src/components/Controls.jsx
Due: prettier --write, eslint --fix

plan: sampling recording feature
  plans/ImplementationPlan.md
  plans/record-sampling-plan.md
Due: prettier --write

implementation: sampling recording feature
  package-lock.json
  package.json
  src/App.jsx
  src/components/Controls.jsx
  src/components/Visualizer.jsx
  src/hooks/useRecording.js
  tests/components/Controls.test.jsx
  tests/components/Visualizer.test.jsx
  tests/hooks/useRecording.test.js
Due: prettier --write, eslint --fix

fix app loading
  package-lock.json
  package.json
  plans/record-sampling-plan.md
  src/hooks/useRecording.js
  tests/hooks/useRecording.test.js
  vite.config.js
Due: prettier --write, eslint --fix

change recording frames rate
  src/hooks/useRecording.js
Due: prettier --write, eslint --fix

update samples post-processing
  plans/ImplementationPlan.md
  plans/sampler-comparison-postprocessing-plan.md
  src/App.jsx
  src/components/HistogramPlots.jsx
  src/components/TracePlots.jsx
  src/hooks/useSamplingController.js
  src/utils/histogramUtils.js
  tests/components/HistogramPlots.test.jsx
  tests/components/TracePlots.test.jsx
  tests/hooks/useSamplingController.test.js
  tests/utils/histogramUtils.test.js
Due: prettier --write, eslint --fix

change sampler comparison
  plans/sampler-comparison-postprocessing-plan.md
  src/hooks/useSamplingController.js
  tests/hooks/useSamplingController.test.js
Due: prettier --write, eslint --fix

improve tests coverage
  plans/sampler-comparison-postprocessing-plan.md
  tests/components/TracePlots.test.jsx
  tests/utils/histogramUtils.test.js
Due: prettier --write, eslint --fix

add changes after claude review
  plans/sampler-comparison-postprocessing-plan.md
  src/components/TracePlots.jsx
  src/hooks/useSamplingController.js
  tests/hooks/useSamplingController.test.js
Due: prettier --write, eslint --fix

update README.md
  README.md
Due: prettier --write

add stop sampling button
  plans/ImplementationPlan.md
  plans/stop-sampling-plan.md
  src/App.jsx
  src/components/Controls.jsx
  src/hooks/useSamplingController.js
  tests/components/Controls.test.jsx
  tests/hooks/useSamplingController.test.js
Due: prettier --write, eslint --fix

changes after claude review
  plans/stop-sampling-plan.md
  src/hooks/useSamplingController.js
  tests/hooks/useSamplingController.test.js
Due: prettier --write, eslint --fix

add logging
  plans/ImplementationPlan.md
  plans/debug-logging-plan.md
  src/hooks/useSamplingController.js
  src/samplers/SamplingChain.js
  src/utils/logger.js
  tests/utils/logger.test.js
Due: prettier --write, eslint --fix

remove conditions for logging
  src/hooks/useSamplingController.js
  src/samplers/SamplingChain.js
Due: prettier --write, eslint --fix

add logging for more modules
  plans/debug-logging-plan.md
  src/hooks/useRecording.js
  src/samplers/BaseSampler.js
  src/samplers/GibbsSampler.js
  src/samplers/HMCSampler.js
  src/utils/mathEngine.js
  src/utils/sliceSampler.js
  src/utils/statistics.js
  tests/hooks/useRecording.test.js
  tests/samplers/BaseSampler.test.js
  tests/samplers/GibbsSampler.test.js
  tests/samplers/HMCSampler.test.js
  tests/utils/mathEngine.test.js
  tests/utils/sliceSampler.test.js
  tests/utils/statistics.test.js
Due: prettier --write, eslint --fix

plan: typescript migration
  plans/ImplementationPlan.md
  plans/typescript-migration-plan.md
Due: prettier --write

install deps and add ts config
  eslint.config.js
  package-lock.json
  package.json
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix

add src/types.ts
  src/types.ts
Due: none

update Leaf utilities
  src/utils/histogramUtils.ts
  src/utils/logger.js
  src/utils/logger.ts
  src/utils/plotFunctions.ts
  src/utils/predefinedFunctions.ts
  src/utils/seededRandom.ts
  src/utils/sliceSampler.ts
  src/utils/statistics.ts
Due: prettier --write, eslint --fix

refactor: replace redundant ChainInput with Pick<ChainState> and move PredefinedFunction to shared types
  plans/typescript-migration-plan.md
  src/types.ts
  src/utils/histogramUtils.ts
  src/utils/predefinedFunctions.ts
Due: prettier --write

migrate mathEngine to TypeScript with MathNode/EvalFunction types and isComplex guard
  CLAUDE.md
  plans/typescript-migration-plan.md
  src/utils/mathEngine.js
  src/utils/mathEngine.ts
Due: prettier --write, eslint --fix

migrate samplers to TypeScript
  plans/typescript-migration-plan.md
  src/gifshot.d.ts
  src/samplers/BaseSampler.js
  src/samplers/BaseSampler.ts
  src/samplers/GibbsSampler.js
  src/samplers/GibbsSampler.ts
  src/samplers/HMCSampler.js
  src/samplers/HMCSampler.ts
  src/samplers/SamplingChain.js
  src/samplers/SamplingChain.ts
  src/samplers/defaultConfigs.js
  src/samplers/defaultConfigs.ts
  src/types.ts
Due: prettier --write, eslint --fix

migrate src/hooks/ to TypeScript
  plans/typescript-migration-plan.md
  src/hooks/useRecording.ts
  src/hooks/useSamplingController.ts
  src/types.ts
Due: prettier --write

migrate components to TypeScript
  index.html
  plans/typescript-migration-plan.md
  src/App.tsx
  src/components/Controls.tsx
  src/components/HistogramPlots.tsx
  src/components/TracePlots.tsx
  src/components/Visualizer.tsx
  src/hooks/useRecording.ts
  src/hooks/useSamplingController.ts
  src/main.tsx
  src/vite-env.d.ts
Due: prettier --write

changes after review
  plans/typescript-migration-plan.md
  src/components/Controls.tsx
  src/hooks/useSamplingController.ts
  src/samplers/SamplingChain.ts
Due: prettier --write

fix formatting
  src/components/Controls.tsx
Due: none

fix logp plot
  src/hooks/useSamplingController.ts
  src/utils/plotFunctions.ts
Due: none

add tsc --noEmit to CI lint job and pre-commit hook
  .github/workflows/ci.yml
  .husky/pre-commit
  src/hooks/useSamplingController.ts
Due: none

plan: add support for more than 2 chains
  plans/ImplementationPlan.md
  plans/n-chains-plan.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,css,md,json}
  eslint --fix: any of: *.{js,jsx}
