Repository aerubanov/HMC_visualization: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,css,md,json}": "prettier --write",
  "*.{js,jsx}": "eslint --fix"
}

feat: multiple chains support
  src/App.tsx
  src/components/Controls.tsx
  src/components/HistogramPlots.tsx
  src/components/TracePlots.tsx
  src/hooks/useSamplingController.ts
  src/types.ts
  src/utils/histogramUtils.ts
  src/utils/plotFunctions.ts
  tests/components/HistogramPlots.test.jsx
  tests/components/TracePlots.test.jsx
  tests/hooks/useSamplingController.test.js
  tests/utils/histogramUtils.test.js
Due: prettier --write, eslint --fix

fix: trajectory color
  src/components/Visualizer.tsx
Due: none

add changes after review
  src/hooks/useSamplingController.ts
  tests/hooks/useSamplingController.test.js
Due: prettier --write, eslint --fix

update readme
  README.md
Due: prettier --write

replace .adent by .clause
  .agent/rules/dependencies-managment.md
  .agent/rules/project-workflow.md
  .agent/rules/testing.md
  .claude/agents/plan-implementer.md
  .claude/settings.json
  .claude/skills/excalidraw-diagram/.gitignore
  .claude/skills/excalidraw-diagram/README.md
  .claude/skills/excalidraw-diagram/SKILL.md
  .claude/skills/excalidraw-diagram/references/color-palette.md
  .claude/skills/excalidraw-diagram/references/element-templates.md
  .claude/skills/excalidraw-diagram/references/json-schema.md
  .claude/skills/excalidraw-diagram/references/pyproject.toml
  .claude/skills/excalidraw-diagram/references/render_excalidraw.py
  .claude/skills/excalidraw-diagram/references/render_template.html
  .claude/skills/grill-me/SKILL.md
  .claude/skills/plan-with-files/SKILL.md
  .gitignore
Due: prettier --write

add docs for arring new sampler
  docs/adding-a-sampler.md
Due: prettier --write

add contribution doc
  README.md
  docs/contributing.md
Due: prettier --write
